@model SysSoniaInventory.Models.ModelHistorialProduct

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ModelHistorialProduct</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeforeNameProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeforeNameProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AfterNameProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AfterNameProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeforePurchasePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeforePurchasePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AfterPurchasePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AfterPurchasePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeforeSalePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeforeSalePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AfterSalePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AfterSalePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeforeStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeforeStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AfterStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AfterStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeforeCodigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeforeCodigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AfterCodigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AfterCodigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazonCambioAuto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazonCambioAuto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionCambio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionCambio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
