@model SysSoniaInventory.Models.ModelUser

@{
    ViewData["Title"] = "Details";
}
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title font-weight-bold">Detalles del Usuario</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label font-weight-bold">Teléfono</label>
                        <div class="col-sm-8">
                            <p class="form-control-plaintext">@Model.Tel</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label font-weight-bold">Nombre</label>
                        <div class="col-sm-8">
                            <p class="form-control-plaintext">@Model.Name</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label font-weight-bold">Apellido</label>
                        <div class="col-sm-8">
                            <p class="form-control-plaintext">@Model.LastName</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label font-weight-bold">Correo Electrónico</label>
                        <div class="col-sm-8">
                            <p class="form-control-plaintext">@Model.Email</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label font-weight-bold">Estatus</label>
                        <div class="col-sm-8">
                            <p class="form-control-plaintext">@(Model.Estatus == 1 ? "Activo" : "Inactivo")</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label font-weight-bold">Fecha de Registro</label>
                        <div class="col-sm-8">
                            <p class="form-control-plaintext">@Model.RegistrationDate</p><!--.ToShortDateString()-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary font-weight-bold">Editar</a>
                <a asp-action="Index" class="btn btn-outline-secondary font-weight-bold ml-2">Volver a la lista</a>
            </div>
        </div>
    </div>
</div>