@model IEnumerable<SysSoniaInventory.Models.ModelUser>

@{
    ViewData["Title"] = "Index";
}
<style>
    .pagination .page-link {
        background-color: #333;
        color: #fff;
        border: 1px solid #444;
    }

    .pagination .page-item.active .page-link {
        background-color: #555;
        border-color: #666;
    }

    .pagination .page-item.disabled .page-link {
        background-color: #222;
        color: #777;
        border-color: #333;
    }
</style>

<div class="row">


    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Lista de Usuarios</h1>
                <div class="d-flex align-items-center justify-content-start">
                    @if (User.HasClaim("AccessTipe", "Nivel 4") || User.HasClaim("AccessTipe", "Nivel 5"))
                    {
                        <!-- Botón Nuevo Usuario -->
                        <a asp-action="Create" class="btn btn-outline-primary font-weight-bold ml-2">
                            <i class="fas fa-plus"></i> Nuevo usuario
                        </a>


                        <!-- Línea decorativa -->
                        <div class="separator mx-3"></div>
                    }
                    @if (User.HasClaim("AccessTipe", "Nivel 4") || User.HasClaim("AccessTipe", "Nivel 5"))
                    {
                        <div class="dropdown">
                            <button class="btn btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-download"></i> Descargar PDF
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                            
                                    <!-- Descargar todas las compras -->
                                    <div class="form-group">
                                     
                                    <a asp-action="GeneratePdf" class="btn btn-block mt-2  btn-outline-danger font-weight-bold">
                                        <i class="mdi mdi-download"></i> Todos los Usuarios
                                    </a>
                                    </div>
                                   
                                 <!-- Descargar todas las compras -->
                                    <div class="form-group">
                                      
                                    <a asp-action="GeneratePdf" asp-route-active="true" class="btn btn-block mt-2  btn-outline-danger font-weight-bold">
                                        <i class="mdi mdi-download"></i>  Usuarios Activos
                                    </a>
                                    </div>
                                <!-- Descargar todas las compras -->
                                <div class="form-group">
                                  
                                    <a asp-action="GeneratePdf" asp-route-active="false" class="btn btn-block mt-2  btn-outline-danger font-weight-bold">
                                        <i class="mdi mdi-download"></i> Usuarios Inactivos
                                    </a>
                                </div>
                            </div>
                        </div>



                    }

                </div>
            </div>
        </div>
    </div>




    <div class="col-lg-6 grid-margin stretch-card">
        <!-- Contenedor específico para el dropdown -->
        <div class="card dropdown-container">
            <div class="card-body">
                <form method="get" asp-action="Index">
                    <div class="d-flex justify-content-between align-items-center">
                        <h1 class="card-title mb-0">Filtrar Usuarios</h1>
                        <div class="col-md-3 d-flex align-items-end">
                            <button type="submit" class="btn btn-outline-success w-100">
                                <i class="mdi mdi-magnify btn-icon-prepend"></i>Filtrar
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Filtro por Nombre -->
                        <div class="col-md-4">
                            <label for="searchName" class="form-label">Nombre</label>
                            <input type="text" id="searchName" name="searchName" class="form-control" placeholder="Buscar por nombre" value="@ViewBag.SearchName" />
                        </div>

                        <!-- Filtro por Apellido -->
                        <div class="col-md-4">
                            <label for="searchLastName" class="form-label">Apellido</label>
                            <input type="text" id="searchLastName" name="searchLastName" class="form-control" placeholder="Buscar por apellido" value="@ViewBag.SearchLastName" />
                        </div>
                        <!-- Filtro por Estatus -->
                        <div class="col-md-4">
                            <label for="searchEstatus" class="form-label">Estatus</label>
                            <select id="searchEstatus" name="searchEstatus" class="form-control" style="width: auto;">
                                <option value="">Todos</option>
                                <option value="1" selected="@(ViewBag.SearchEstatus == 1)">Activo</option>
                                <option value="0" selected="@(ViewBag.SearchEstatus == 2)">Inactivo</option>
                            </select>

                        </div>


                    </div>

                    <div class="row mt-3">
                        <!-- Filtro por Email -->
                        <div class="col-md-6">
                            <label for="searchEmail" class="form-label">Correo Electrónico</label>
                            <input type="text" id="searchEmail" name="searchEmail" class="form-control" placeholder="Buscar por correo electrónico" value="@ViewBag.SearchEmail" />
                        </div>
                        <!-- Filtro por Rol -->
                        <div class="col-md-6">
                            <label for="searchIdRol" class="form-label">Rol</label>


                            <select id="searchIdRol" name="searchIdRol" class="form-control" style="width: auto;">
                                <option value="">Todos los roles</option>
                                @foreach (var rol in ViewData["IdRol"] as SelectList)
                                {
                                    <option value="@rol.Value" selected="@(ViewBag.SearchIdRol?.ToString() == rol.Value)">
                                        @rol.Text
                                    </option>
                                }
                            </select>


                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>

    <br><br>


    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
           
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="userTable">
                        <thead>
                            <tr>
                                <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.LastName)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.Email)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.Estatus)</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="txt-whithe">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td> @(item.Estatus == 1 ? "Activo" : "Inactivo")</td>

                                    <td>
                                        @if (User.HasClaim("AccessTipe", "Nivel 5"))
                                        {
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success">Modificar</a>

                                        }
                                        @if (User.HasClaim("AccessTipe", "Nivel 4") || User.HasClaim("AccessTipe", "Nivel 3"))
                                        {
                                            <a asp-action="EditUser" asp-route-id="@item.Id" class="btn btn-outline-warning">Editar</a>

                                        }
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Detalles</a>
                                        @if (User.HasClaim("AccessTipe", "Nivel 5"))
                                        {
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Eliminar</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        @{
                            int totalPages = ViewBag.TotalPages;
                            int currentPage = ViewBag.CurrentPage;
                            int maxVisiblePages = 5;
                            int startPage = Math.Max(1, currentPage - maxVisiblePages / 2);
                            int endPage = Math.Min(totalPages, startPage + maxVisiblePages - 1);
                        }

                        <!-- Flecha izquierda -->
                        <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                            <a class="page-link" href="@(currentPage > 1 ? $"?page={currentPage - 1}&searchName={ViewBag.SearchName}&searchLastName={ViewBag.SearchLastName}&searchEmail={ViewBag.SearchEmail}&searchEstatus={(ViewBag.SearchEstatus != null ? ViewBag.SearchEstatus.ToString() : "")}&searchIdRol={(ViewBag.SearchIdRol != null ? ViewBag.SearchIdRol.ToString() : "")}" : "#")" aria-label="Anterior">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>

                        <!-- Números de paginación -->
                        @for (var i = startPage; i <= endPage; i++)
                        {
                            <li class="page-item @(i == currentPage ? "active" : "")">
                                <a class="page-link" href="?page=@i&searchName=@ViewBag.SearchName&searchLastName=@ViewBag.SearchLastName&searchEmail=@ViewBag.SearchEmail&searchEstatus=@(ViewBag.SearchEstatus != null ? ViewBag.SearchEstatus.ToString() : "")&searchIdRol=@(ViewBag.SearchIdRol != null ? ViewBag.SearchIdRol.ToString() : "")">@i</a>
                            </li>
                        }

                        <!-- Flecha derecha -->
                        <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                            <a class="page-link" href="@(currentPage < totalPages ? $"?page={currentPage + 1}&searchName={ViewBag.SearchName}&searchLastName={ViewBag.SearchLastName}&searchEmail={ViewBag.SearchEmail}&searchEstatus={(ViewBag.SearchEstatus != null ? ViewBag.SearchEstatus.ToString() : "")}&searchIdRol={(ViewBag.SearchIdRol != null ? ViewBag.SearchIdRol.ToString() : "")}" : "#")" aria-label="Siguiente">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>

                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>







<!-- Estilos Actualizados maneja los estilos del imput descargar pdf entre otros-->
<style>



    .d-flex {
        display: flex;
    }

    .separator {
        width: 2px;
        height: 30px;
        background-color: #ddd; /* Color de la línea decorativa */
    }


    .dropdown-container {
        position: relative; /* Asegura que el menú se alinee respecto al contenedor */
    }

        .dropdown-container .dropdown-menu {
            position: absolute;
            top: 100%; /* Despliega justo debajo del botón */
            left: 0;
            display: none;
            list-style: none;
            padding: 10px;
            margin: 0;
            background-color: #f8f9fa;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            width: 250px;
            opacity: 0;
            transform: translateY(-10px);
            transition: opacity 0.3s ease, transform 0.3s ease;
            z-index: 1000;
        }

            .dropdown-container .dropdown-menu.show {
                display: block;
                opacity: 1;
                transform: translateY(0);
            }
</style>


<!-- Script para manejar el menú desplegable -->
<!-- Script para manejar el menú desplegable -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const dropdownButton = document.getElementById("dropdownButton");
        const dropdownMenu = document.getElementById("dropdownMenu");

        // Alternar visibilidad y clase de animación
        dropdownButton.addEventListener("click", function (event) {
            event.stopPropagation(); // Evitar propagación
            dropdownMenu.classList.toggle("show");
        });

        // Cerrar el menú si se hace clic fuera
        document.addEventListener("click", function (event) {
            if (!dropdownMenu.contains(event.target)) {
                dropdownMenu.classList.remove("show");
            }
        });
    });

</script>

