@model SysSoniaInventory.Models.ModelReport

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ModelReport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeReport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeReport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComentaryUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComentaryUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StarDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StarDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StarTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StarTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRelation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRelation)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
