@model IEnumerable<SysSoniaInventory.Models.ModelFactura>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Lista de Facturas</h1>
                <div class="d-flex align-items-center justify-content-start">
                    <!-- Botón Nueva Factura -->
                    <a asp-action="Create" class="btn btn-outline-primary font-weight-bold ml-2">
                        <i class="fas fa-plus"></i> Nueva factura
                    </a>

                    <!-- Línea decorativa -->
                    <div class="separator mx-3"></div>

                    <!-- Contenedor del Botón Descargar PDF -->
                    <div class="dropdown-container">
                        <!-- Botón principal para abrir el menú -->
                        <button id="dropdownButton" class="dropdown-button btn btn-outline-secondary">
                            <i class="mdi mdi-download"></i> Descargar PDF
                        </button>

                        <!-- Menú desplegable -->
                        <ul id="dropdownMenu" class="dropdown-menu">
                            <li>
                                <a asp-action="GeneratePdf" asp-route-active="true">
                                    <i class="mdi mdi-download"></i> Descargar Facturas Activas
                                </a>
                            </li>
                            <li>
                                <a asp-action="GeneratePdf" asp-route-active="false">
                                    <i class="mdi mdi-download"></i> Descargar Facturas Inactivas
                                </a>
                            </li>
                            <li>
                                <a asp-action="GeneratePdf">
                                    <i class="mdi mdi-download"></i> Descargar Todas las Facturas
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 grid-margin stretch-card">
        <!-- Contenedor específico para el dropdown -->
        <div class="card dropdown-container">
            <div class="card-body">
                <h1 class="card-title">Filtrado de Facturas</h1>

                <form method="get" asp-action="Index" class="mb-3">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="searchUser" class="form-control" placeholder="Buscar por usuario"
                                   value="@ViewBag.SearchUser" />
                        </div>
                        <div class="col-md-3">
                            <input type="date" name="startDate" class="form-control"
                                   value="@ViewBag.StartDate" />
                        </div>
                        <div class="col-md-3">
                            <input type="date" name="endDate" class="form-control"
                                   value="@ViewBag.EndDate" />
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary">Filtrar</button>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>

    <br><br>

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Tabla de Facturas</h4>

                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped " id="invoiceTable">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Usuario</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Hora</th>
                                <th scope="col">Total</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody class="txt-whithe">
                            @foreach (var factura in Model)

                            {
                                <tr>
                                    <td>@factura.Id</td>
                                    <td>@factura.NameUser</td>
                                    <td>@factura.Date.ToShortDateString()</td>
                                    <td>@factura.Time.ToString("hh\\:mm")</td>
                                    <td>@factura.DetalleFactura.Sum(d => d.PriceTotal)</td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@factura.Id" class="btn btn-outline-info">Detalles</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        @for (var i = 1; i <= ViewBag.TotalPages; i++)
                        {
                            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                <a class="page-link" href="?page=@i&searchUser=@ViewBag.SearchUser&startDate=@ViewBag.StartDate&endDate=@ViewBag.EndDate">@i</a>
                            </li>
                        }
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>


