<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - SysSoniaInventory</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="~/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/vendors/owl-carousel-2/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/assets/images/favicon.png" />

  

</head>
<body class="sidebar-icon-only">
    <div class="container-scroller">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
                <a class="sidebar-brand brand-logo" href="index.html"><img src="~/assets/images/logo.svg" alt="logo" /></a>
                <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="~/assets/images/logo-mini.svg" alt="logo" /></a>
            </div>


            <ul class="nav">
                <li class="nav-item profile">
                    <div class="profile-desc">
                        <div class="profile-pic">
                            <div class="count-indicator">
                                <img class="img-xs rounded-circle " src="~/assets/images/faces/face15.jpg" alt="">
                                <span class="count bg-success"></span>
                            </div>
                            
                            <div class="profile-name">
                             @if (User.Identity.IsAuthenticated)
{
    var userName = User.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value;
    var nameParts = userName.Split(' ');

    // Tomar solo los primeros dos nombres
    var firstTwoNames = string.Join(" ", nameParts.Take(2));

    <h5 class="mb-0 font-weight-normal">@firstTwoNames</h5>
}
else
{
    <h5 class="mb-0 font-weight-normal">¡No autenticado!</h5>
}

                           <!-- -----------------nombre de usuario--------------------- -->
                             
                            </div>
                        </div>
                        <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                            
                            <a asp-controller="Auth" asp-action="ChangePassword" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-onepassword  text-info"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">
                                     
                                       
                                        Usuario
                                    
                                    </p>
                                </div>
                            </a>
                            
                        </div>
                    </div>
                </li>
                <li class="nav-item nav-category">
                    <span class="nav-link">Navegación</span>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">
                        <span class="menu-icon">
                            <i class="mdi mdi-speedometer"></i>
                        </span>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>

                <!---->
                @if (User.HasClaim("AccessTipe", "Nivel 4") || User.HasClaim("AccessTipe", "Nivel 5"))

                {

                    <li class="nav-item menu-items">
                        <a class="nav-link" asp-controller="Rol" asp-action="Index">
                            <span class="menu-icon">
                                <i class="mdi mdi-account-key"></i>
                            </span>
                            <span class="menu-title">Rol</span>
                        </a>
                    </li>
                }
                @if (User.HasClaim("AccessTipe", "Nivel 4") || User.HasClaim("AccessTipe", "Nivel 5"))
                {
                    <li class="nav-item menu-items">
                        <a class="nav-link" asp-controller="Sucursal" asp-action="Index">
                            <span class="menu-icon">
                                <i class="mdi mdi-home-map-marker"></i>
                            </span>
                            <span class="menu-title">Sucursal</span>
                        </a>
                    </li>
                }
                @if (User.HasClaim("AccessTipe", "Nivel 4") || User.HasClaim("AccessTipe", "Nivel 3") || User.HasClaim("AccessTipe", "Nivel 5"))

                {
                    <li class="nav-item menu-items">
                        <a class="nav-link" asp-controller="User" asp-action="Index">
                            <span class="menu-icon">
                                <i class="mdi mdi-account-multiple"></i>
                            </span>
                            <span class="menu-title">Usuario</span>
                        </a>
                    </li>
                }
                @if (User.HasClaim("AccessTipe", "Nivel 4") || User.HasClaim("AccessTipe", "Nivel 3") || User.HasClaim("AccessTipe", "Nivel 5"))
                {
                    <li class="nav-item menu-items">
                        <a class="nav-link" asp-controller="Category" asp-action="Index">
                            <span class="menu-icon">
                                <i class="mdi mdi-tag-multiple"></i>
                            </span>
                            <span class="menu-title">Categoría</span>
                        </a>
                    </li>
                }
                @if (User.HasClaim("AccessTipe", "Nivel 4") || User.HasClaim("AccessTipe", "Nivel 5"))

                {
                    <li class="nav-item menu-items">
                        <a class="nav-link" asp-controller="HistorialProduct" asp-action="Index">
                            <span class="menu-icon">
                                <i class="mdi mdi-history"></i>
                            </span>
                            <span class="menu-title">Registros</span>
                        </a>
                    </li>
                }   
                  @if ( User.HasClaim("AccessTipe", "Nivel 4") ||  User.HasClaim("AccessTipe", "Nivel 5"))
                {
                    <li class="nav-item menu-items">
                        <a class="nav-link" asp-controller="Report" asp-action="Index">
                            <span class="menu-icon">
                                <i class="mdi mdi-alert-box"></i>
                            </span>
                            <span class="menu-title">Reportes</span>
                        </a>
                    </li>
                }
                
                @if (User.HasClaim("AccessTipe", "Nivel 4") || User.HasClaim("AccessTipe", "Nivel 3") || User.HasClaim("AccessTipe", "Nivel 5"))
                {
                    <li class="nav-item menu-items">
                        <a class="nav-link" asp-controller="Proveedor" asp-action="Index">
                            <span class="menu-icon">
                                <i class="mdi mdi-truck"></i>
                            </span>
                            <span class="menu-title">Proveedor</span>
                        </a>
                    </li>
                }
                @if (User.HasClaim("AccessTipe", "Nivel 2") || User.HasClaim("AccessTipe", "Nivel 4") || User.HasClaim("AccessTipe", "Nivel 3") || User.HasClaim("AccessTipe", "Nivel 5"))
                {
                    <li class="nav-item menu-items">
                        <a class="nav-link" asp-controller="Product" asp-action="Index">
                            <span class="menu-icon">
                                <i class="mdi mdi-cart"></i>
                            </span>
                            <span class="menu-title">Producto</span>
                        </a>
                    </li>
                }
                @if (User.HasClaim("AccessTipe", "Nivel 4") || User.HasClaim("AccessTipe", "Nivel 3") || User.HasClaim("AccessTipe", "Nivel 2") || User.HasClaim("AccessTipe", "Nivel 5"))

                {
                    <li class="nav-item menu-items">
                        <a class="nav-link" asp-controller="Factura" asp-action="Index">
                            <span class="menu-icon">
                                <i class="mdi mdi-cart"></i>
                            </span>
                            <span class="menu-title">Pago</span>
                        </a>
                    </li>
                }


                <!---->

              
            </ul>
        </nav>


        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_navbar.html -->
            <nav class="navbar p-0 fixed-top d-flex flex-row">
                <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo-mini" href="index.html"><img src="~/assets/images/logo-mini.svg" alt="logo" /></a>
                </div>
                <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-menu"></span>
                    </button>
                    <!--<button id="toggle-theme" class="btn btn-dark">Cambiar a Tema Claro</button>-->
                    


                    <ul class="navbar-nav w-100">
                        <li class="nav-item w-100">
                            <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                                <input type="text" id="searchInput" class="form-control" placeholder="Buscar Productos">
                                <ul id="suggestions" class="dropdown-menu" style="display: none; position: absolute; z-index: 1000;"></ul>
                            </form>
                        </li>
                    </ul>

                    <ul class="navbar-nav navbar-nav-right">


                        <!---->
                        @if (User.HasClaim("AccessTipe", "Nivel 4") ||User.HasClaim("AccessTipe", "Nivel 5"))
                        {

                            <li class="nav-item dropdown d-none d-lg-block">
                                <a class="nav-link btn btn-success create-new-button font-weight-bold" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-plus"></i> Creación rápida</a>
                                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
                                    <h6 class="p-3 mb-0">Opciones de Creación</h6>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item preview-item" asp-area="" asp-controller="User" asp-action="Create">
                                        <div class="preview-thumbnail">
                                            <div class="preview-icon bg-dark rounded-circle">
                                                <i class="mdi mdi-account-plus text-info"></i>
                                            </div>
                                        </div>
                                        <div class="preview-item-content">
                                            <p class="preview-subject ellipsis mb-1">Crear Usuario</p>
                                        </div>
                                    </a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item preview-item" asp-area="" asp-controller="Category" asp-action="Create">
                                        <div class="preview-thumbnail">
                                            <div class="preview-icon bg-dark rounded-circle">
                                                <i class="mdi mdi-truck text-success"></i>
                                            </div>
                                        </div>
                                        <div class="preview-item-content">
                                            <p class="preview-subject ellipsis mb-1">Crear Categoria</p>
                                        </div>
                                    </a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item preview-item" asp-area="" asp-controller="Product" asp-action="Create">
                                        <div class="preview-thumbnail">
                                            <div class="preview-icon bg-dark rounded-circle">
                                                <i class="mdi mdi-cube-outline text-primary"></i>
                                            </div>
                                        </div>
                                        <div class="preview-item-content">
                                            <p class="preview-subject ellipsis mb-1">Crear Producto</p>
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item preview-item" asp-area="" asp-controller="Factura" asp-action="Create">
                                        <div class="preview-thumbnail">
                                            <div class="preview-icon bg-dark rounded-circle">
                                                <i class="mdi mdi-truck text-success"></i>
                                            </div>
                                        </div>
                                        <div class="preview-item-content">
                                            <p class="preview-subject ellipsis mb-1">Realizar Pago</p>
                                        </div>
                                    </a>
                               

                                 

                      
                                    <div class="dropdown-divider"></div>
                                   
                                </div>
                            </li>


                        }   @if (User.HasClaim("AccessTipe", "Nivel 3") || User.HasClaim("AccessTipe", "Nivel 2"))
                        {
                         <li class="nav-item dropdown d-none d-lg-block">
                                <a class="nav-link btn btn-success create-new-button font-weight-bold" asp-controller="Factura" asp-action="Create">          <i class="fas fa-plus"> </i>Realizar Pago</a>
                          
                        </li>
                        }


                        <!---->

                      
                        <li class="nav-item dropdown border-left">
                            <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-email"></i>
                                <span class="count bg-success"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                                <h6 class="p-3 mb-0">Messages</h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="assets/images/faces/face4.jpg" alt="image" class="rounded-circle profile-pic">
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">Mark send you a message</p>
                                        <p class="text-muted mb-0"> 1 Minutes ago </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="assets/images/faces/face2.jpg" alt="image" class="rounded-circle profile-pic">
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">Cregh send you a message</p>
                                        <p class="text-muted mb-0"> 15 Minutes ago </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="assets/images/faces/face3.jpg" alt="image" class="rounded-circle profile-pic">
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">Profile picture updated</p>
                                        <p class="text-muted mb-0"> 18 Minutes ago </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <p class="p-3 mb-0 text-center">4 new messages</p>
                            </div>
                        </li>

                        <li class="nav-item dropdown border-left">
                            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                                <i class="mdi mdi-bell"></i>
                                <span class="count bg-danger"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                                <h6 class="p-3 mb-0">Notifications</h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-calendar text-success"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Event today</p>
                                        <p class="text-muted ellipsis mb-0"> Just a reminder that you have an event today </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-settings text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Settings</p>
                                        <p class="text-muted ellipsis mb-0"> Update dashboard </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-link-variant text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Launch Admin</p>
                                        <p class="text-muted ellipsis mb-0"> New admin wow! </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <p class="p-3 mb-0 text-center">See all notifications</p>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                                <div class="navbar-profile">
                                    <img class="img-xs rounded-circle" src="~/assets/images/faces/face15.jpg" alt="">
                                                                      
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        var userName = User.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value;
                                        var nameParts = userName.Split(' ');

                                        // Tomar solo los primeros dos nombres
                                        var firstTwoNames = string.Join(" ", nameParts.Take(2));

                                        <p class="mb-0 d-none d-sm-block navbar-profile-name">@firstTwoNames</p>
                                    }
                                    else
                                    {
                                        <p class="mb-0 d-none d-sm-block navbar-profile-name">¡No autenticado!</p>
                                    }

                                   
                                   <!-- -----------------nombre de usuario--------------------- -->
                                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                                <h6 class="p-3 mb-0">Profile</h6>
                                <div class="dropdown-divider"></div>
                                <a asp-action="EditInfoPerso" asp-controller="User" class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-settings text-success"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">

                                     
                                            <p class="preview-subject mb-1">Mi perfil</p>
                                           
                                       
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-logout text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <form asp-controller="Auth" asp-action="Logout" method="post">
                                            @Html.AntiForgeryToken()
                                            <button type="submit" class="btn btn-link text-light">Log out</button>
                                        </form>

                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <p class="p-3 mb-0 text-center">Advanced settings</p>
                            </div>
                        </li>

                    </ul>

                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="mdi mdi-format-line-spacing"></span>
                    </button>
                </div>
            </nav>



            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="container">
                        <main role="main" class="pb-3">



                            <!-- Modal -->
                            <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="messageModalLabel">Notificaciones</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-close-modal></button>
                                        </div>
                                        <div class="modal-body">
                                            @if (TempData["reporte"] != null)
                                            {
                                                <div class="text-center">
                                                   
                                                    <div class="alert alert-info">
                                                        <strong>Mensaje:</strong> @TempData["reporte"]
                                                    </div>
                                                </div>
                                            }
                                            @if (ViewBag.CasoPendiente != null)
                                            {
                                                <div class="text-center">
                                                    <img src="~/imgSystem/adver.png" class="img-fluid custom-img mb-2" alt="Imagen de caso" style="max-width: 200px; max-height: 200px;">
                                                    <div class="alert alert-warning">
                                                        <strong>Mensaje:</strong> @ViewBag.CasoPendiente
                                                    </div>
                                                </div>
                                            }
                                            @if (ViewBag.ErrorMessage != null)
                                            {
                                                <div class="text-center">
                                                    <img src="~/imgSystem/nou.png" class="img-fluid custom-img mb-2" alt="Imagen de error" style="max-width: 200px; max-height: 200px;">
                                                    <div class="alert alert-danger">
                                                        <strong>Error:</strong> @ViewBag.ErrorMessage
                                                    </div>
                                                </div>
                                            }
                                            @if (TempData["Message"] != null)
                                            {
                                                <div class="text-center">
                                                   
                                                    <img src="~/imgSystem/yes.png" class="img-fluid custom-img mb-2" alt="Imagen de validación" style="max-width: 200px; max-height: 200px;">
                                                    <div class="alert alert-info">
                                                        @TempData["Message"]
                                                    </div>
                                                </div>
                                            }
                                            @if (TempData["Error"] != null)
                                            {
                                                <div class="text-center">
                                                    <img src="~/imgSystem/nou.png" class="img-fluid custom-img mb-2" alt="Imagen de error" style="max-width: 200px; max-height: 200px;">
                                                    <div class="alert alert-danger">
                                                        @TempData["Error"]
                                                    </div>
                                                </div>
                                            }
                                            @if (TempData["Success"] != null)
                                            {
                                                <div class="text-center">
                                                    <img src="~/imgSystem/yes.png" class="img-fluid custom-img mb-2" alt="Imagen de validación" style="max-width: 200px; max-height: 200px;">
                                                    <div class="alert alert-success">
                                                        @TempData["Success"]
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                        <div class="modal-footer">
                                            @if (ViewBag.CasoPendiente != null && ViewBag.ReporteId != null)
                                            {
                                                <a href="@Url.Action("Edit", "Report", new { id = ViewBag.ReporteId })" class="btn btn-success">Ir al Reporte</a>
                                            }
                                            @if (TempData["Error"] != null)
                                            {
                                                <a href="@Url.Action("Create", "Report")" class="btn btn-danger">Reportar Error</a>
                                            }
                                            <button type="button" class="btn btn-secondary" data-close-modal>Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            @RenderBody()
                           


                        </main>

                    </div>

                </div>
                <div>
                    <footer class="footer">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">
                            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
                        </div>
                    </footer>
                </div>
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
   
     </div>    




    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="~/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="~/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/assets/js/off-canvas.js"></script>
    <script src="~/assets/js/hoverable-collapse.js"></script>
    <script src="~/assets/js/misc.js"></script>
    <script src="~/assets/js/settings.js"></script>
    <script src="~/assets/js/todolist.js"></script>

    <!-- endinject -->
   



       
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/assets/js/file-upload.js"></script>
    <script src="~/assets/js/dashboard.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/SearchProduct.js"></script>
    <!--  -->



    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const messageModal = new bootstrap.Modal(document.getElementById('messageModal'));

            // Verificar si hay contenido dentro del modal
            const modalBody = document.querySelector('#messageModal .modal-body').innerHTML.trim();

            if (modalBody) {
                // Si el modal tiene contenido, mostrarlo
                messageModal.show();
            }

            // Cerrar el modal al hacer clic en cualquier botón con el atributo `data-close-modal`
            document.getElementById('messageModal').addEventListener('click', function (e) {
                if (e.target && e.target.hasAttribute('data-close-modal')) {
                    messageModal.hide();
                }
            });
        });
    </script>
    <!-- End custom js for this page -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>